Checks: >
    *,
    -altera-*,
    -android-*,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-vararg,
    -darwin-*,
    -facebook-*,
    -fuchsia-*,
    -google-*,
    -hicpp-*,
    -linuxkernel-*,
    -llvm-*,
    -llvmlibc-*,
    -modernize-use-trailing-return-type,
    -readability-braces-around-statements,
    -readability-else-after-return,
    -readability-identifier-length,
    -readability-named-parameter,
    -zircon-*
