# Build Artifacts
build/

# Core Dumps
core

# Byte-Compiled Modules
__pycache__/

# Extension Modules
*.so

# Packaging Artifacts
*.egg-info
*.whl

# IDEs and Tools
.idea/
.gdb_history

# Other
.DS_Store
