# Materialized Setup Script
/setup.py

# Byte-Compiled Modules
__pycache__

# Extension Modules
*.so

# Build Artifacts
build-*/
build/

# Packaging Artifacts
*.egg-info
*.whl
dist/

# IDE Files
.idea/

# Other
.DS_Store
