# Byte-Compiled Modules
__pycache__/

# Extension Modules
*.so

# Build Artifacts
build/

# Packaging Artifacts
*.egg-info
*.whl
dist/

# IDEs and Python Virtual Environments
.idea/
.venv/

# Weights & Biases
wandb/

# Other
.DS_Store
