black~=23.3
flake8~=7.1
flake8-pyi~=24.6
flake8-pyproject~=1.2
isort~=5.13
mypy~=1.10.0
pyarrow-stubs~=10.0
pytest~=7.3
shellcheck-py~=0.9
types-editdistance~=0.6
types-psutil~=5.9
types-PyYAML~=6.0
types-setuptools~=67.8
