Checks: >
    *,
    -abseil-*,
    -altera-*,
    -android-*,
    -bugprone-easily-swappable-parameters,
    -cert-dcl21-cpp,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-prefer-member-initializer,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-vararg,
    -darwin-*,
    -facebook-*,
    -fuchsia-*,
    -google-*,
    -hicpp-*,
    -linuxkernel-*,
    -llvm-*,
    -llvmlibc-*,
    -misc-confusable-identifiers,
    -misc-const-correctness,
    -misc-no-recursion,
    -misc-non-private-member-variables-in-classes,
    -modernize-use-equals-default,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -readability-braces-around-statements,
    -readability-else-after-return,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-misleading-indentation,
    -readability-named-parameter,
    -readability-qualified-auto,
    -readability-redundant-access-specifiers,
    -readability-suspicious-call-argument,
    -zircon-*
CheckOptions:
  - key:   cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value: true
HeaderFilterRegex: '.*'
