# Copyright (c) Meta Platforms, Inc. and affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

on:
  workflow_call:
    inputs:
      torch:
        type: string
        default: '2.2.0'
      py:
        type: string
        default: '3.11'

jobs:
  lint:
    name: Lint
    runs-on:
      labels: 4-core-ubuntu
    container:
      image: ghcr.io/facebookresearch/fairseq2-ci-manylinux_x86_64:2-cpu
    defaults:
      run:
        shell: bash
    steps:
      - name: Check-out the repository
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Create the Python virtual environment
        run: |
          python${{ inputs.py }} -m venv ~/venv

          echo ~/venv/bin >> "$GITHUB_PATH"
      - name: Install PyTorch
        run: |
          pip install --extra-index-url https://download.pytorch.org/whl/cpu\
            torch==${{ inputs.torch }}
      - name: Install requirements
        run: |
          pip install --requirement native/python/requirements-build.txt

          pip install --requirement requirements-devel.txt
      - name: Configure fairseq2n
        working-directory: native
        run: |
          cmake -GNinja -B build
      - name: Install fairseq2n
        run: |
          pip install --editable native/python
      - name: Install fairseq2
        id: install_fairseq2
        run: |
          pip install --editable .
      - name: Run isort
        if: success() || (failure() && steps.install_fairseq2.outcome == 'success')
        run: |
          echo "::add-matcher::./ci/problem-matchers/isort.json"

          function remove_matcher
          {
            echo "::remove-matcher owner=isort::"
          }

          trap remove_matcher EXIT

          isort --check .
      - name: Run black
        if: success() || (failure() && steps.install_fairseq2.outcome == 'success')
        run: |
          echo "::add-matcher::./ci/problem-matchers/black.json"

          function remove_matcher
          {
            echo "::remove-matcher owner=black::"
          }

          trap remove_matcher EXIT

          black --check .
      - name: Run flake8
        if: success() || (failure() && steps.install_fairseq2.outcome == 'success')
        run: |
          echo "::add-matcher::./ci/problem-matchers/flake8.json"

          function remove_matcher
          {
            echo "::remove-matcher owner=flake8::"
          }

          trap remove_matcher EXIT

          flake8 .
      - name: Run mypy
        if: success() || (failure() && steps.install_fairseq2.outcome == 'success')
        run: |
          echo "::add-matcher::./ci/problem-matchers/mypy.json"

          function remove_matcher
          {
            echo "::remove-matcher owner=mypy::"
          }

          trap remove_matcher EXIT

          mypy
          mypy native/python
          mypy recipes/llama
          mypy recipes/mistral
