# Copyright (c) Meta Platforms, Inc. and affiliates.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

name: CI

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - 'ci/**'
      - 'doc/**'

jobs:
  build_wheel-linux:
    name: Build wheels (pt${{ matrix.torch }}, py${{ matrix.py }}, linux-x86_64, ${{ matrix.variant }}, ${{ matrix.sanitizers }})
    uses: ./.github/workflows/_build_wheel-linux.yaml
    strategy:
      fail-fast: false
      matrix:
        torch: ['2.8.0']
        py: ['3.12']
        variant: ['cpu', 'cu126', 'cu128']
        sanitizers: ['nosan']
        include:
          - run_integration_tests: false

          # Integration Tests
          - torch: '2.8.0'
            py: '3.12'
            variant: 'cpu'
            sanitizers: 'nosan'
            run_integration_tests: true

          # TODO: fix lsan.out file!
          # ASAN/UBSAN
          # - torch: '2.8.0'
          #   py: '3.12'
          #   variant: 'cpu'
          #   sanitizers: 'asan_ubsan'
          #   run_integration_tests: false

          # Lowest Supported Version
          - torch: '2.6.0'
            py: '3.10'
            variant: 'cpu'
            sanitizers: 'nosan'
            run_integration_tests: false
    with:
      torch: ${{ matrix.torch }}
      py: ${{ matrix.py }}
      variant: ${{ matrix.variant }}
      sanitizers: ${{ matrix.sanitizers }}
      run_integration_tests: ${{ matrix.run_integration_tests }}

  build_wheel-macos:
    name: Build wheels (pt${{ matrix.torch }}, py${{ matrix.py }}, macos-arm64)
    uses: ./.github/workflows/_build_wheel-macos.yaml
    strategy:
      fail-fast: false
      matrix:
        include:
          - torch: '2.8.0'
            py: '3.12'

          # Lowest Supported Version
          - torch: '2.6.0'
            py: '3.10'
    with:
      torch: ${{ matrix.torch }}
      py: ${{ matrix.py }}
